:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  max-width: 1400px;
  width: 100%;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  /*color-scheme: light dark;*/
  color: black;
  /*background-color: rgba(128, 128, 128, 0.48);*/

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*,
::before,
::after {
  box-sizing: border-box;
}


body {
  margin: 0;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

.table-wrapper {
  overflow-x: auto;
}

table {
  width: 100%;
  border-collapse: collapse;
  border-color: black;
}

tr {
  display: table-row;
  vertical-align: inherit;
}

th,
td {
  white-space: nowrap;
  padding: 0.5rem;
  text-align: left;
  vertical-align: top;
}

th {
  background: rgba(0, 0, 0, 0.1);
}

tbody tr:nth-child(2n) {
  background: rgba(0, 0, 0, 0.05);
}

h1 {
  text-align: center;
}